.show-new-comment{ :style => ('display: none' if params[:new_comment])}
  =link_to("Give a comment!", new_joke_comment_path(@joke), :class => 'new-comment-button button')
.new-comment
  =render(:partial => 'comments/new', :object => Comment.new) if params[:new_comment]
=render :partial => 'comments/comment', :collection => @joke.comments


%script
  $('.comments').commenter();


