textarea {
  height: 100px;
  width: 100%;
  font-size: 14pt;
}

div {
/*  border: 1px solid red;
 */
}

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  max-width: 1024px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
}
.logo img {
  margin-left: auto;
  margin-right: auto;
  display:block;
}

#joke-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0;
  border: 1px solid black;
  overflow: auto;
}

.jokes-title {
  background: blue;
  color: white;
  padding: 0;
  margin: 0;
}
.jokes-title h1 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: medium;
  text-align: center;
}

.joke-list {
  float: left;
  width: 49%;
  padding: 0;
  padding-left: 2px;
  margin-left: auto;
  margin-right: auto;
}

.joke-title {
  height: 42px;
  font-weight: bold;
  text-align: center;
  padding-top: 2px;
}
.joke-item {
  height: 42px;
}
.joke-list .joke-item:hover a {
  color: red !important;
  outline: none;
}
.joke-item .image {
  background-image: url(/images/circle.png);
  height: 42px;
  width: 42px;
  float:left;
}
.joke-item .image:hover {
  background-image: url(/images/circle_yellow.png);
  cursor: pointer;
}
.joke-item a, .joke-list .joke-item a:visited {
  text-decoration: none;
  color: black;
  display: block;
}
.joke-item a:hover {
  text-decoration: none;
  color: #710070;
  display: block;
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}

.controls {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
      border: none;
}

.controls .button {
  width: 200px;
  height: 120px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -moz-box-shadow: 5px 5px 5px #aaa;
  -webkit-box-shadow: 5px 5px 5px #aaa;
  box-shadow: 5px 5px 5px #aaa;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 15pt;
  float: left;
  margin-right: 50px;
}

.controls .button:hover, .controls .button:active {

  position:relative;
  top:0;
  left:0;
  width: 200px;
  height: 120px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -moz-box-shadow: 2px 2px 2px #555;
  -webkit-box-shadow: 2px 2px 2px #555;
  box-shadow: 2px 2px 2px #555;
  background-color: blue;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 15pt;
  outline: none;
  margin-right: 50px;
}
.controls .cancel, .controls .cancel:active, .controls .cancel:hover {
  background-color: gray;
}

.controls .button:active, .controls .button a:active {
  -moz-box-shadow:inset 0 0 5px #555;
  -webkit-box-shadow:inset 0 0 5px #555;
  box-shadow:inset 0 0 5px #555;
  outline: none;
}

.line {
  height: 40%;
}
.double-line {
  padding-top: 8px;
  height: 40%;
}

.joke-body {
  padding-left: 5px;
  padding-right: 5px;
}



.controls .button a, .controls .button input {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 15pt;
  display:block;
  padding-top: 40px;
  outline: none;
}


/* tooltip styling */
.tooltip {
  display:none;
  background:url(/images/tooltip.png);
  padding:4px 3px 1px 3px;
  height:20px;
  width:82px;
  font-size:11px;
  color:#fff;
  border: 1px solid black;
}

/* a .label element inside tooltip */
.tooltip .label {
  color:yellow;
  width:35px;
  font-weight:bold;
}

.tooltip a {
  color:#ad4;
  font-size:11px;
  font-weight:bold;
}


/*match placeholder/watermark padding to border+padding for input element*/
label.placeholder {
  cursor: text;
  padding: 4px 4px 4px 4px;
  color: #999999;
  font-size: 14pt;
}
/* html5 placeholder support */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:#999999;
}
input:placeholder, textarea:placeholder {
  color:#999999;
}

.teller-row .name {
  width: 850px;
  height: 30px;
  float:left;
  font-size: 12pt;
}
.teller-row .points {
  font-size: 12pt;
  height: 30px;
  width: 50px;
  float:right;
  padding-right: 10px;
  text-align: right;
}
