.jokes-title
  %h1
    Week
    = @week
    jokes
.joke-list
  = render :partial => 'joke', :collection => @best_jokes
.joke-list
  = render :partial => 'joke', :collection => @new_jokes

%script
  $(document).ready(function() { $('.joke-list .joke-item').voteCircle({hotList : '#joke-container'}); });
