%h1
  Week
  = @week
  jokes


#joke-container
  .joke-list
    = render :partial => 'joke', :collection => @best_jokes
  .joke-list
    = render :partial => 'joke', :collection => @new_jokes

.controls
  .button
    = link_to 'New Joke', new_joke_path
