
#joke-container
  .jokes-title
    %h1
      This joke was told on
      = @joke.created_at.to_s(:short)
  .joke-body
    -@joke.body.split("\n").each do |line|
      %p
        =line
  .clear

.joke-item.controls
  .image.vote-circle{ :title => 'Click'}
  .double-line
    Vote for this joke
    = link_to('', @joke)

.controls
  .button.cancel
    = link_to 'Back', root_path

%script
  $(document).ready(function() { $('.joke-item').voteCircle({jokeContent : '.joke-body:first'}); });

